<nav class="navbar navbar-expand-md" style="background-color: #0fa3b1; height: 7vh;">
    <div class="container-fluid">
        <span class="navbar-brand monserrat f9f7f3">Dashboard IoT</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex justify-content-center align-items-center w-100">
                <ul class="navbar-nav d-flex column-gap-4">
                    <li class="nav-item">
                      <a class="nav-link monserrat f9f7f3" routerLink="" routerLinkActive="fw-bolder">Dispositivos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link monserrat f9f7f3" routerLink="informacion" routerLinkActive="fw-bolder">Informacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link monserrat f9f7f3" routerLink="usuarios" routerLinkActive="fw-bolder">Usuarios</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

