<div class="container-primary" style="height: 92vh;">
    <div class="d-flex col-12 justify-content-center align-items-center">
        <div class="mt-5 d-flex col-10 col-lg-10 column-gap-4">
            <div class="container-data col-5 col-lg-2 d-flex flex-column rounded" style="height: 75vh;">
                <div class="d-flex flex-column justify-content-center align-items-start container-name" style="height: 30%;">
                    <h3 class="mx-2 monserrat">Iot</h3>
                    <p class="mx-2 monserrat text-normal m-0">Equipo 2</p>
                </div>
                <div>
                    <div class="mx-2 d-flex flex-column border-bottom">
                        <p class="monserrat m-0 fw-bolder">Descripcion</p>
                        <p class="monserrat text-small">El proyecto consiste en utilizar Iot, Broker MQTT, Sensores, Etc</p>
                    </div>
                    <div class="mx-2 d-flex flex-column border-bottom">
                        <p class="monserrat m-0 fw-bolder">Integrantes</p>
                        <p class="monserrat text-small m-0">- Adalberto Amaya Garcia</p>
                        <p class="monserrat text-small m-0">- Gabriela Estrello Guadarrama</p>
                        <p class="monserrat text-small m-0">- Victor Eduardo Garcia Sardaneta</p>
                        <p class="monserrat text-small m-0">- Angel Gabriel Herrera Contreras</p>
                    </div>
                    <div class="mx-2 d-flex flex-column border-bottom">
                        <p class="monserrat m-0 fw-bolder">API Label</p>
                        <p class="monserrat  text-small">iot</p>
                    </div>
                    <div class="mx-2 d-flex flex-column border-bottom">
                        <p class="monserrat m-0 fw-bolder">ID</p>
                        <p class="monserrat  text-small">7127372712712</p>
                    </div>
                    <div class="mx-2 d-flex flex-column">
                        <p class="monserrat m-0 fw-bolder">Token</p>
                        <p class="monserrat  text-small">1295AVWGLW</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-8 d-flex flex-column row-gap-4">
                <div class="d-flex flex-column container-data rounded">
                    <div class="m-2">
                        <p class="monserrat text-normal">3 Variables</p>
                    </div>
                    <div class="mx-2 col-12 d-flex column-gap-2">
                        <div class="col-11">
                            <div class="input-group mb-3">
                                <button class="btn btn-dashboard"><i class="bi bi-search"></i></button>
                                <input type="text" class="form-control" placeholder="Buscar">
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="input-group mb-3">
                                <button class="btn btn-dashboard"><i class="bi bi-gear-wide"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-between flex-wrap">
                    @for (card of CardsView; track $index) 
                    {
                        <app-card [card]="card"></app-card>
                    }
                </div>
            </div>
        </div>
    </div>
</div>