<div class="card" style="width: 15rem; height: 10rem"  >
    <div class="card-body">
        <div class="row container-title align-items-center">
            <div class="col-4 text-center ">
                <i class="{{card.iconCard}}" ></i>
            </div>
            <div class="col-8 p-0">
                <div class="card-title">
                    <a class="monserrat text-decoration-none f9f7f3 fw-bold"  routerLink="{{card.path}}">{{card.nameCard}}</a>
                </div>
            </div>
        </div>
        <div class="card-text monserrat">
            {{card.description}}
        </div>
    </div>
</div>